<h1>HABES (Highly Advanced Burger Eating Simulator)</h1>

<h2>Burgers yet to be devoured!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
        <li class = 'burger__whole'>
        {{burger_name}}
        <button class = 'devour-burger' data-id='{{this.id}}'>DEVOUR!</button>
        </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers devoured!</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
        <li class = 'burger__devoured'>
            {{burger_name}}
        </li>
        {{/if}}
    {{/each}}
</ul>

<h3>Add a burger!</h3>

<form class = 'create-burger-form'>
    <label for = 'burgN'>Burger Name: </label><input type = 'text' name = 'burgerName' id = 'burgN'>
    <button type = 'submit' class = 'submit-burger'>Add Burger</button>
</form> 