* {
    box-sizing: border-box;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-5px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

body {
    background-color: #a4b0be;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}

h2 {
    font-size: 2.75rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
    text-align: center;
}

h3 {
    font-size: 2.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2, h3 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

ul {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

li {
    margin: .5rem 0;
    background-color: #ff7f50;
    padding: .25rem 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.burger__whole {
    animation: float 6s ease-in-out infinite;
    width: 35%;
    margin: auto;
    margin-top: .25rem;
    border: 2px solid black;
}

form {
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #747d8c;
    padding: .25rem 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

label {
    font-size: 1.25rem;
}

button {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: #eccc68;
    border-radius: 2px;
    padding: .25rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    margin-left: .5rem;
}

button:active,
button:hover {
    background-color: #ffa502;
    cursor: pointer;
}